.rodapie__titulo{
    display: flex;
    color: #e7e5e5c5;
    font-weight: 400;
    font-size: 1.25rem;
    font-family: 'Nanum Myeongjo', serif;
    align-items: center;
    padding: 1.5625rem;
    
}